h2{ color: rgb(195, 0, 202);}
h1{
    color: blueviolet;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 50px;

text-align: center;
}
a{ color: rgb(255, 60, 0);}